@model CategoryVM

@{
    ViewData["Title"] = "Category Details";
}

<h1> @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)<hr />
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Posts)
        </dt>
        <dd class="col-sm-9">
            <div class="list-group">
                @foreach (var item in Model.Posts)
                {
                    <a  class="list-group-item list-group-item-action"
                   asp-controller="Posts"
                   asp-action="Details"
                   asp-route-year="@item.PostedOn.Year"
                   asp-route-month="@item.PostedOn.Month"
                   asp-route-UrlSlug="@item.UrlSlug"
                    >@item.Title</a>

                }
            </div>
        </dd>

    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Update"
       asp-route-id="@Model.Id"><i class="fa-solid fa-pencil"></i> Update</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
