@model IEnumerable<PostVM>

<section>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div>
                        <a asp-action="Details" 
                        asp-route-year="@item.PostedOn.Year"
                       asp-route-month="@item.PostedOn.Month"
                       asp-route-UrlSlug="@item.UrlSlug" class=" text-underline-hover fw-bold ">@item.Title</a>
                    </div>
                    <small class="text-muted">
                        @(string.Format("{0}", Math.Round(Math.Abs(((DateTime.Now - item.PostedOn).TotalDays))).ToString()))
                        days ago
                    </small>
                </div>
                <span class="badge bg-primary rounded-pill">@item.ViewCount</span>
            </li>
        }
    </ul>
</section>
