@model TagVM

@{
    ViewData["Title"] = "Tag Details";
}

<h1> @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)

        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)<hr />
        </dd>
    </dl>
</div>
<div>
  
    @if (User.IsInRole(Roles.Contributor) || User.IsInRole(Roles.BlogOwner))
    {
        <a class="btn btn-warning" asp-action="Update"
       asp-route-id="@Model.Id"><i class="fa-solid fa-pencil"></i> Update</a>
    }
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
